@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: rgb(111 83 255);
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-carousal{
  height: 100dvh;
  background-color: var(--white);
  width: 100dvw;
  display: flex;
  flex-direction: row;

  .mobile-screen {
    width: 50%;
  }
}

@media only screen and (max-width: 600px){
  .container-carousal{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .mobile-screen {
      width: 100dvw;
      
      div {
        height: 50dvh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .book-image{
    top: 10px;
    left: 10px;
    transform: translate(25px, -170px);
  }

  .mobile-dot{
    width: 10px;
    height: 10px !important;
  }

  .mobile-question{
    padding-left: 20px;
  }
}

.customPurple {
  background-color: var(--purple);
  color: var(--white);
}

.custom-border-purple {
  border-color: var(--purple);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
}

.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: rgb(111 83 255);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 500ms ease;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltiptext.no-after:after {
  content: none;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.animate-x {
  transition: myanimationposition 300ms ease;
}

@keyframes myanimationposition {
  from {
    transform: translateX(-600px);
  }
  to {
    transform: translateX(0px);
  }
}


#summary-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#summary-table td, #summary-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#summary-table tr:nth-child(even){background-color: #f2f2f2;}

#summary-table tr:hover {background-color: #ddd;}

#summary-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--purple);
  color: var(--white);
}

.save-button{
  padding: 10px 20px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 8px;

}

@keyframes revealLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.reveal-left {
  animation: revealLeft 0.8s ease-out;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 12px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}